<%- model_class = Noticia -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:usuario_id) %></th>
      <th><%= model_class.human_attribute_name(:editoria_id) %></th>
      <th><%= model_class.human_attribute_name(:titulo) %></th>
      <th><%= model_class.human_attribute_name(:data_publicacao) %></th>
      <th><%= model_class.human_attribute_name(:status) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @noticias.each do |noticia| %>
      <tr>
        <td><%= link_to noticia.id, noticia_path(noticia) %></td>
        <td><%= noticia.usuario.nome if noticia.usuario.present? %></td>
        <td><%= noticia.editoria.nome if noticia.editoria.present? %></td>
        <td><%= noticia.titulo %></td>
        <td><%= noticia.data_publicacao %></td>
        <td><%= noticia.status %></td>
        <td><%=l noticia.created_at %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_noticia_path(noticia), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      noticia_path(noticia),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_noticia_path,
            :class => 'btn btn-primary' %>
