<%= simple_form_for @usuario, :html => { :class => 'form-vertical' } do |f| %>
    
  <div class="form-inputs">
    <%= f.input :nome %>
    <%= f.input :email %>
    <%= f.input :senha %>
    <%= f.input :genero, as: :radio_buttons, collection: [['Masculino', 1], ['Feminino', 0]] %>
  </div>
    
  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                  usuarios_path, :class => 'btn btn-default' %>
  </div>
<% end %>
