<%= simple_nested_form_for [:admin, @user], :html => { :class => 'form-vertical' } do |f| %>
	<%= f.input :name %>
	<%= f.input :email %>
	<%= f.input :password if f.object.new_record? %>

	<legend>Perfil</legend>
	<%= f.fields_for :profile do |p| %>
		<%= p.input :avatar %>
		<%= p.input :date_of_birth, start_year: (Date.current - 18.years).year, end_year: 1960 %>
		<%= p.input :gender, as: :radio_buttons, collection: Profile::GENDER %>
	<% end -%>

	<legend>Telefones</legend>
		
		<%= f.fields_for :telefones do |t| %>
		<div class="form-inline">
		  <%= t.input :operadora, as: :select, collection: Telefone::TIPOS, label: false, prompt: 'Selecione' %>
		  <%= t.input :ddd, label: false, input_html: {placeholder: 'DDD'} %>
		  <%= t.input :numero, label: false, input_html: {placeholder: 'Número'} %>
		  <%= t.input :whatsapp %>
		  <%= t.link_to_remove "Excluir", class: 'btn btn-danger btn-xs' %>
		</div>
		<hr>
		<% end %>
	
	<p><%= f.link_to_add "Adicionar Telefone", :telefones, class: 'btn btn-success' %></p>


	<%= f.association :roles, as: :check_boxes -%>


	<%= f.button :submit, :class => 'btn-primary' %>
	<%= link_to t('.cancel', :default => t("helpers.links.cancel")),
	            admin_users_path, :class => 'btn btn-default' %>
<% end %>
